<!DOCTYPE html>
<html ng-app="easyNaming">
<head>
<script src="script/angular.min.js"></script>
<script type="text/javascript" src="script/script.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="css/bootstrap.min.css">
<script
	src="script/jquery.min.js"></script>
<script
	src="script/bootstrap.min.js"></script>
	<title>Easy Naming</title>
</head>
<body ng-controller="namingController">

	<div class="container">
		<h2>Naming Convention</h2>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="fullText">Full
					Name:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="fullText"
						ng-change="changeName()" ng-model="unformattedText"
						placeholder="Please input your full text">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="shortForm">Abbreviation:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="shortForm"
						value="{{formattedText}}" ng-model="formattedText"
						placeholder="Short text will be seen here">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label><input type="checkbox" ng-change="changeName()" ng-checked="prepositionModel" ng-model="prepositionModel"> Remove
							Preposition(With,Or,For)</label>
					</div>
				</div>
			</div>
			
			<div class="alert alert-success" role="alert"
				ng-show="formattedText.length <= 20">
				Formatted text length is <strong> {{formattedText.length}} </strong> characters!
			</div>
			<div class="alert alert-info" role="alert"
				ng-show="formattedText.length <= 25 && formattedText.length >20">
				 Formatted text length is <strong> {{formattedText.length}} </strong> characters!
			</div>
			<div class="alert alert-warning" role="alert"
				ng-show="formattedText.length <= 30 && formattedText.length >25 ">
				Formatted text length is <strong> {{formattedText.length}} </strong> characters!
			</div>
			
			<div class="alert alert-danger" role="alert"
				ng-show="formattedText.length > 30">
				<strong>Oppsss!</strong>Formatted text length is <strong> {{formattedText.length}} </strong> characters! Exceeding 30 characters! 
			</div>

		</form>
	</div>


</body>
</html>